*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 
html{
    overflow-x: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #1A1C25;
}
select{
    background-color: black;
    border: 0;
    font-weight: bolder;
    font-size: 1.3rem;
}
option{
    font-size: 1rem;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
background: #1A1C25; 
}
::-webkit-scrollbar-thumb {
background: rgba(255, 255, 255, 0.76); 
}
::-webkit-scrollbar-thumb:hover {
background: rgba(255, 255, 255, 0.493); 
}
h3{
    font-size: 1.3rem;
    font-weight: bolder;
    color: #F5F5F5;
}
h4{
    font-size: 1rem;
    color: #f5f5f5d8;
}
#chart{
    height: 100%;
}
#top-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    max-width: 100%;
}
#top-bar ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 0.6rem;
    margin: 0.5rem;
    width: 25%;
    border-radius: 0.4rem;
}
#country{
    color: #FB7600;
}
#recovered, #recovered-global{
    color: #3363F7;
}
#deaths, #deaths-global{
    color: #eb1212;
}
#confirmed, #confirmed-global{
    color: #197816;
}
#active, #active-global{
    color: #18cc12;
}
#chart-div{
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.5%;
}
.container{
    display: flex;
    flex-direction: row;
    height: 75vh;
}
#country-li{
    border-top: 5px solid #FB7600;
}
#recovered-li, #recovered-global-li{
    border-top: 5px solid #3363F7;
}
#deaths-li, #deaths-global-li{
    border-top: 5px solid #eb1212;
}
#confirmed-li, #confirmed-global-li{
    border-top: 5px solid #197816;
}
#active-li, #active-global-li{
    border-top: 5px solid #18cc12;
}
#title-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#title{
    margin-top: 1%;
    margin-bottom: 0.2%;
    font-size: 1.7rem;
    color: #F5F5F5;
}
#in-country{
    font-size: 1.7rem;
    color: #F5F5F5;
    margin-top: 1%;
    margin-bottom: 0.2%;
}
#map-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 1.5%;
}
#legend{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 4%;
    margin-left: 4%;
    width: 100%;
}

.legend { list-style: none; width: 100%; padding: 1.5%; display: flex; flex-direction: column;}
.legend li {margin-right: 15px; color: #F5F5F5; display: flex; flex-direction: row;}
.legend span { float: left; width: 15px; height: 15px; margin: 2px; margin-top: 5px;}
.legend .one { background-color: #530000; }
.legend .two { background-color: #a70000; }
.legend .three { background-color: #ff0000; }
.legend .four { background-color: #ff5252; }
.legend .five{ background-color: #ff7b7b; }
.legend .six{ background-color: #ffbaba; }
.legend .seven{ background-color: #ffcdd2; }
.legend .eight{ background-color: #ffebee; }
.legend .nine{ background-color: white; }
